<div style="margin: auto 30px;" id="dateFilterModal">
	<div class="modal-content col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">

		<div class="row modal-body custom-date-filter-container-row">

			<form name="custom.customDateFilterForm"
				  ng-submit="custom.setFilterDate(custom.filterDate)"
				  no-validation>
				<div class="row custom-filter-date-input-row">

					<div class="well col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 custom-date-filter-input">

						<uib-datepicker ng-model="custom.filterDate"
										min-date="custom.minDate"
										max-date="custom.maxDate"
										ng-change="custom.filterDateChanged()"
										class="well well-sm">
						</uib-datepicker>
					</div>
				</div>
				<div class="row modal-footer custom-date-filter-submit-buttons-row">
					<div class="custom-date-filter-submit-buttons-div col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
						<button class="btn btn-success btn-lg custom-date-filter-submit-button"
								type="submit">
							Выбрать
						</button>
						<button type="button"
								class="btn btn-warning btn-lg custom-date-filter-cancel-button"
								ng-click="custom.cancelDateFilter()">
							Отмена
						</button>
					</div>
				</div>
			</form>

		</div>

	</div>
</div>