@{
    ViewBag.Title = "Помощник";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles-js/account")	
<div class="row margined">
    <div class="col-md-12">
        <h2>Помощник</h2>
        <h5>
            По вопросам работы портала, технической составляющей, сбоев и т.д., а так же предложений и пожеланий, просьба обращаться
            <a href="malto:vechkaevkv@uralsibins.ru">vechkaevkv@uralsibins.ru</a>
        </h5>
        <h5>
            Для экстренной связи:
            +7-495-737-00-55 добавочный 6121
            или
            +7-929-509-4567
        </h5>
    </div>
</div>

<div class="row margined">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div><a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-block btn-primary">Начать работу</a></div>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="blueLine"></div>

<div class="row margined">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div><a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-block btn-primary">Начать работу</a></div>
    </div>
    <div class="col-md-4">
    </div>
</div>
